<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3 class="text-center title-block">{{ 'aficiones' | translate }}</h3>
        <div class="bg-dark shadow-three mt-2 p-5 about-me" data-aos="fade-up" data-aos-duration="3000">
            <p class="text-light f-open-sans-c fs-20 lh-20">{{ 'meGusta' | translate }}</p>
            <div class="d-flex justify-content-around rounded-4 text-secondary-emphasis fs-30 bg-secondary">
                <i class="bi bi-music-note"></i>
                <i class="bi bi-geo-alt-fill"></i>
                <i class="bi bi-controller"></i>
                <i class="bi bi-laptop"></i>
                <i class="bi bi-book-half"></i>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="espaciado"></div>
