<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div class="row">

            <div class="col-md-5">
                <app-first-description-block [content]="fundamentalsRoadMap" [categoryColor]="this.categoria.color"
                    [ref]="'fundament'"></app-first-description-block>
            </div>
            <div class="col-md-7">
                <h2 class="text-light fuenteOcho fs-50">{{ 'DEVELOPER.developer.fundamentalsRoadmap.titulo' | translate }}</h2>
                <img src="assets/img/extructures/frontend.png" alt="Roadmap Frontend dev" class="img-fluid drop">
                <p class="text-light f-open-sans-c lh-25 text-end"><small>Basada en <a href="https://roadmap.sh/"
                            target="_blank">Roadmap.sh</a></small></p>
            </div>
        </div>


        <div class="espaciado"></div>
        <div class="col-md-1"></div>
    </div>