<p class="text-light f-open-sans-c fs-20 lh-20">{{ 'acercaDe' | translate }}</p>
<div class="row">
    <div class="col-md-12 col-xl-6 text-center p-3">
        <a href="assets/doc/CV_ALEX_URIEL_MUNOZ_PANIAGUA_SOFTWARE_DEV_{{ translate.currentLang }}.pdf" download class="text-decoration-none rot-2 w-100 l-button bg-Javascript f-shadow-into-l cursor-p mb-2 fs-30">
            {{ 'descargar' | translate }}
        </a>
    </div>
    <div class="col-md-12 col-xl-6 text-center">
        <button type="button" class="l-button bg-Wordpress text-light f-shadow-into-l cursor-p mb-2 pos-z fs-30 border-0" (click)="onContactClick()">
            {{ 'contactame' | translate }}
        </button>
    </div>
</div>
