<p class="text-light f-open-sans-c fs-20 lh-20">{{ 'acercaDe' | translate }}</p>
<div class="row">
    <div class="col-md-12 col-xl-6 text-center p-3">
        <a href="assets/doc/CV_ALEX_URIEL_MUNOZ_PANIAGUA_SOFTWARE_DEV_{{ translate.currentLang }}.pdf" download class="text-decoration-none rot-2 w-100 l-button bg-Javascript f-shadow-into-l cursor-p mb-2 fs-30">
            {{ 'descargar' | translate }}
        </a>
    </div>
    <div class="col-md-12 col-xl-6 text-center">
        <button data-bs-toggle="modal" class="l-button bg-Wordpress text-light f-shadow-into-l cursor-p mb-2 pos-z fs-30 border-0" data-bs-target="#exampleModal">
            {{ 'contactame' | translate }}
        </button>
    </div>
</div>

<div class="modal fade" id="exampleModal" data-bs-backdrop="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-three bg-dark bg-gradient">
            <div class="modal-header">
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-form-contact></app-form-contact>
            </div>
        </div>
    </div>
</div>
