.go-up {
    color: white;
    position: fixed;
    right: 35px;
    bottom: 35px;
    padding: 10px;
    background: black;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 39px 39px #000000;
    z-index: 999;
    user-select: none;
}

.parallax-portfolio {
    background-image: url("../../assets/img/portfolio/background.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #1d1d1d;
    position: relative;
    color: white;
}
.parallax-portfolio::before {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    opacity: 0.6;
}
