<app-header-post [categoria]="breadcrumb"></app-header-post>
<div class="espaciado"></div>
<app-header-post-supplement [idPublicacion]="idPublicacion"
    [rutaIconoSugerido]="categoria.rutaIcono"></app-header-post-supplement>

<div class="espaciado"></div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <app-first-description-block [content]="ideasExtraMoney" [categoryColor]="this.categoria.color"
            [ref]="'front'"></app-first-description-block>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="espaciado"></div>