<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row" *ngIf="adds.contentIndex">
            <div class="col-md-8">
                <h2 class="tituloPost fuenteOcho p-2">{{ traducirTexto(this.categoria.nombre) }}</h2>
                <app-content-index [indice]="indice"></app-content-index>
                <div class="espacio"></div>
                <div *ngFor="let subcatego of subCategorias">
                    <h2 class="tituloPost f-bebas p-2">{{ traducirTexto(subcatego.subCategoria) }}</h2>
                    <app-content-index [contenido]="'subcategorias'" [categoria]="'angular'"></app-content-index>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>


        <div class="espaciado"></div>


    </div>
    <div class="col-md-1"></div>
</div>