<div class="row {{ clase }}">
    <div *ngFor="let contenido of filtrarIndiceActivo(indice)" title="{{ traducirTexto(contenido.nombre,2) }}" class="col {{ validaEstado(contenido.estado)? contenido.colorFondo : '' }} {{ contenido.posicion }} l-menu cursor-p px-3">
        <a *ngIf="contenido.rutaInterna" (click)="scroll(contenido.rutaInterna)" class="{{ contenido.color }} text-uppercase" >
            <del *ngIf="!validaEstado(contenido.estado)">{{ traducirTexto(contenido.nombre,1) }} ...</del>
            <span *ngIf="validaEstado(contenido.estado)">{{ traducirTexto(contenido.nombre,1) }} ...</span>
        </a>
        <a *ngIf="validaEstado(contenido.estado) && contenido.ruta" href="{{ contenido.ruta }}" class="{{ contenido.color }} text-uppercase" >
            <del *ngIf="!validaEstado(contenido.estado)">{{ traducirTexto(contenido.nombre,1) }} ...</del>
            <span *ngIf="validaEstado(contenido.estado)">{{ traducirTexto(contenido.nombre,1) }} ...</span>
        </a>
        <a *ngIf="validaEstado(contenido.estado) && contenido.rutaExterna" href="{{ contenido.rutaExterna }}" target="_blank" class="{{ contenido.color }} text-uppercase" >
            <del *ngIf="!validaEstado(contenido.estado)">{{ traducirTexto(contenido.nombre,1) }} ...</del>
            <span *ngIf="validaEstado(contenido.estado)">{{ traducirTexto(contenido.nombre,1) }} ...</span>
        </a>
    </div>
</div>
