<div class="row fadeShowComponent767">
    <div class="col-md-1"></div>
    <div class="col-md-10 d-block d-lg-none">
        <h2 class="text-light fuenteOcho categorias">Categorías</h2>
    </div>
    <div class="col-md-1 d-block d-lg-none"></div>
    <div class="col-md-1 d-block d-lg-none"></div>

    <div class="col-md-10 col-lg-7">

        @for (row of chunkedCategories; track $index) {
        <div class='p-3 d-flex justify-content-around align-items-center text-center drop'
            style='background-image:url("assets/img/categorias/tablaMenu1.png");background-repeat:no-repeat;background-size:cover;'>
            @for (cat of row; track cat.linkCategory) {
            <div class="linkCategoria" [routerLink]="[cat.linkCategory]">
                <img [src]="iconoCategoria(cat)" [alt]="cat.alt" [height]="cat.height" [attr.width]="cat.width"
                    [class]="cat.class">
            </div>
            }
        </div>
        }
    </div>
    <div class="col-md-10 col-lg-3 d-none d-lg-block">
        <h2 class="text-light fuenteOcho categorias">Categorías</h2>
    </div>
    <div class="col-md-1"></div>
</div>


<div class="row d-md-none">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-light categorias fuenteOcho mt-5">{{ 'Categorias' | translate }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-content-index [indice]="pasoDeIndice" [clase]="'mt-2'"></app-content-index>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>