<div class="espacio"></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <h1 class="c7 fuenteSeis">QUE LA IA ESCRIBA EL CÓDIGO; HAY QUE SABER QUE ESTA ESCRIBIENDO</h1>
                <p class="c7 f-open-sans-c fs-20 lh-20">
                    Desde el momento en que estoy redactando este texto hasta el momento en que estés leyendo —por las
                    razones
                    que te hayan llevado a él—, posiblemente hayan surgido nuevos lenguajes, frameworks y tecnologías.
                    Para
                    centralizar todo, utilizamos entonces la categoría <em>developer</em>.<br><br>

                    Esperaba hacer algo gracioso para captar la atención; sin embargo, no encajo en el papel de
                    humorista. Pero
                    sí me voy a centrar en ofrecer un valor que hubiese querido encontrar para mí mismo.<br><br>

                    Teniendo esto en cuenta, <b>a continuación aparecen los temas fundamentales en el desarrollo de
                        software</b> hasta
                    el año 2025.<br><br>

                    Me tomó alrededor de un mes aprender de memoria todos y cada uno de los temas incluidos. De a
                    poquito, cada
                    día me aprendía uno. Considero que debe ser así para todos, como si fuera el Padre Nuestro para los
                    católicos, ya que la inteligencia artificial se encargará de escribir todo el código, pero nosotros,
                    desde
                    arriba y vigilantes, tendremos que conocer toda la estructura, aplicar correcciones y, en el peor de
                    los
                    casos, rehacer.
                </p>
                <section class="post-meta">
                    <p class="c7 f-open-sans-c fs-20 lh-20">Por: <a href="/perfil-del-autor" rel="author">Alex M.</a></p>
                </section>
            </div>
        </div>


    </div>
    <div class="col-md-1"></div>
</div>
<div class="espaciado"></div>