<div class="espaciado" #target></div>

<app-header></app-header>

<app-slider-home></app-slider-home>
<div class="espacio d-none d-md-block"></div>

<app-galery-post [itemIniciales]="9"></app-galery-post>
<div class="espaciado"></div>

<app-menu-home></app-menu-home>
<div class="espaciado"></div>

<p class="text-light fs-30">HOLA MUN</p>

<app-top-tecnology></app-top-tecnology>
<div class="espaciado d-none d-md-block"></div>

<app-phrases></app-phrases>
<div class="espaciado d-none d-md-block"></div>

<app-footer-home></app-footer-home>
<go-up [target]="target"></go-up>